.banner__white {
    min-height: 10rem;
    
    h3 {
        padding: 3.5rem 0;
        font-size: 2.4rem;
        font-weight: 900;
        text-align: center;
        color: $BLACK;
    }
}

@media screen and (min-width: 48rem) {
    .banner__white {
        min-height: 8rem;

        h3 {
            font-size: 4.4rem;
        }
    }
}

@media screen and (min-width: 48rem) {
    .banner__white {
        h3 {
            font-size: 5rem;
        }
    }
}