.banner__black {
    min-height: 7rem;

    .general__content {
        padding: 1.5rem 0;
        .container__text--banner {
            width: 65%;
            position: relative;
            display: inline-block;
            vertical-align: middle;

            p {
                font-size: 1.4rem;
                line-height: 2rem;
                text-align: center;
                color: $WHITE;
                span {
                    font-weight: 900;
                }
            }
        }

        .container__button {
            width: 32%;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            text-align: right;

            .cta-button {
                width: 11rem;
            }
        }
    }
}

@media screen and (min-width: 30rem) {
    .banner__black {
        .container__text--banner,
        .container__button {
            width: 49%;
        }

        .cta-button {
            width: 12rem;
        }
    }
}

@media screen and (min-width: 48rem) {
    .banner__black {
        min-height: 8rem;

        .general__content {
            p {
                font-size: 2rem !important;
                line-height: 2.5rem !important;
            }
            .cta-button {
                width: 21rem !important;
            }
        }
    }
}

@media screen and (min-width: 64rem) {
    .banner__black {
        min-height: 10rem;

        .general__content {
            .container__text--banner {
                width: 60rem;

                p {
                    font-size: 2.75rem !important;
                    line-height: 3.5rem !important;
                }
            }

            .container__button {
                width: 30%;
            }
        }
    }
}
