.form {
    padding: 3.5rem 0 8rem;
    min-height: 66rem;

    h2 {
        width: 25rem;
        .accent {
            top: -0.5rem;
            left: 7rem;
        }
    }

    form {
        margin: 2rem auto;

        .form__field {
            width: 85%;
            max-width: 60rem;
            position: relative;
            margin: 0 auto 1rem;

            label {
                display: block;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.75rem;
                margin: 2rem 0 1rem;
            }

            input, select {
                height: 5.5rem;
                padding: 0 1rem;
                border-radius: 0.4rem;
                font-size: 1.4rem;
                font-weight: 300;
                @include prefix(word-break, normal);
                color: $BLACK;
                background: $WHITE_OPACITY;
            }

            input {
                width: calc(100% - 2rem);
            }

            select {
                width: 100%;
                background-image: url(../img/general/arrow_down.svg);
                background-repeat: no-repeat;
                background-position: 95%;
            }

            .age--form__inputs {
                width: 100%;
                position: relative;

                .age--form__input {
                    width: 32.5%;
                    position: relative;
                    display: inline-block;

                    input {
                        width: 80%;
                        border: 0;
                        text-align: center;
                    }
                }
            }

            #alert-form {
                font-weight: 900;
                font-size: 1.1rem;
                text-align: center;
                text-transform: uppercase;
                color: $RED;
            }
        }

        #container--input__city {
            display: none;
        }

        input[type=submit] {
            max-width: 20rem;
            font-size: 1.75rem;
            opacity: 0.5;
        }
    }

    .container__terms,
    .container__button {
        width: 85%;
        max-width: 60rem;
        margin: 2rem auto 1rem
    }

    .container__terms {
        text-align: right;
        label {
            font-weight: 700;
        }
    }

    .container__button {
        width: 50%;
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (min-width: 48rem) {
    .form {
        padding: 5.5rem 0 4rem;
        min-height: 70rem;

        h2 {
            width: 38rem;
            .accent {
                top: -0.75rem;
                left: 10.5rem;
            }
        }
    }
}

@media screen and (min-width: 64rem) {
    .form {
        padding: 7rem 0 5rem;
        min-height: 75rem;

        h2 {
            width: 51rem;
            .accent {
                top: -1rem;
                left: 14rem;
            }
        }

        form {
            margin: 2rem auto;

            .form__field {
                margin: 0 auto 1.25rem;

                label {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin: 2.5rem 0 1.25rem;
                }
            }

            #alert-form {
                font-size: 1.25rem;
            }
        }
    }
}
