.hero {
    min-height: 24rem;
    margin-top: 1rem;

    .general__content {
        max-width: 102.4rem !important;
        min-height: 24rem;
    }
    .container__text--hero {
        width: 50%;
        max-width: 26rem;
        position: absolute;
        top: 50%;
        @include prefix(transform, translateY(-50%));
        z-index: 1;

        h1 {
            font-size: 1.5rem;
            font-weight: 900;
            line-height: 1.75rem;
        }

        h3 {
            font-size: 1.1rem;
            font-weight: 700;
            line-height: 1.35rem;
        }

        p {
            margin: 0.5rem auto;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.25rem;
        }

        .container__button {
            width: 100%;
            margin-top: 4.5rem;
            text-align: center;

            button {
                width: 12rem;
                font-size: 1.2rem;
            }
        }
    }

    picture {
        width: auto;
        height: 115%;
        position: absolute;
        right: 0;
        bottom: 0;

        img {
            height: 100%;
        }
    }
}

@media screen and (min-width: 48rem) {
    .hero {
        min-height: 44rem;
        margin-top: 2rem;

        .general__content {
            min-height: 44rem;
        }

        .container__text--hero {
            h1 {
                font-size: 2.4rem;
                line-height: 2.75rem;
            }

            h3 {
                font-size: 1.6rem;
                line-height: 1.85rem;
            }

            p {
                margin: 1rem auto;
                font-size: 1.2rem;
                line-height: 1.5rem;
            }

            .container__button {
                button {
                    width: 90%;
                    font-size: 2.2rem;
                }
            }
        }
    }
}

