:root {
    font-size: 62.5%;     
}

.no-select {
    @include prefix(user-select, none);  
}

.hidden {
    display: none;      
}

html {
    scroll-behavior: smooth;
}

body {
    @include flexbox(); 
    min-height: 100vh;
    @include prefix(box-orient, vertical);
    @include prefix(flex-direction, column);
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    background: $WHITE;

    .wrapper {
        overflow: hidden;
    }

    .general__container {
        width: 100%;
        position: relative;

        .general__content {
            width: 95%;
            max-width: 102.4rem;
            position: relative;
            margin: 0 auto;
        }
    }

    section {
        width: 100%;
        position: relative;
    }

    .bg__stain {
        position: absolute;
        z-index: 0;
    }

    .bg__stain--black {
        img {
            @include prefix(filter, brightness(0));     
        }
    }
}

h2 {
    font-family: $THIRD_RAIL;
    font-size: 3.6rem;
    text-align: center;
}

.font-barlow {
    font-family: $BARLOW;
}

.font-roboto {
    font-family: $ROBOTO;
}

.tiny-text {
    font-size: 0.6rem;
}

.section-yellow {
    background: $YELLOW;
}

.section-black {
    background: $BLACK;
}

.cta-button,
input[type=submit] {
    width: 80%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 0;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: $WHITE;
    background: $ORANGE;
}

@media screen and (min-width: 48rem) {
    h2 {
        font-size: 5.5rem;
    }
    .tiny-text {
        font-size: 1rem;
    }
    .cta-button {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 64rem) {
    h2 {
        font-size: 7.5rem;
    }

    .cta-button {
        font-size: 2.25rem;
    }
}
