:root {
    font-size: 62.5%;     
}

.no-select {
    @include prefix(user-select, none);  
}

.hidden {
    display: none;      
}

body {
     @include flexbox(); 
    min-height: 100vh;
    @include prefix(box-orient, vertical);
    @include prefix(flex-direction, column);
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;  
    background: $WHITE;

    .general__container {
        width: 100%;
        position: relative;

        .general__content {
            width: 95%;
            max-width: 1280px;
            position: relative;
            margin: 0 auto;
        }
    }
}

h2 {
    font-family: $THIRD_RAIL;
    font-size: 3.6rem;
}

.font-barlow {
    font-family: $BARLOW;
}

.font-roboto {
    font-family: $ROBOTO;
}

.tiny-text {
    font-size: 0.6rem;
}

@media screen and (min-width: 48rem) {
    h2 {
        font-size: 5.5rem;
    }
    .tiny-text {
        font-size: 1rem;
    } 
}
