header {
    width: 100%;
    height: 10.5rem;
    position: relative;
    background: $WHITE;
    z-index: 10;

    .item--header {
        width: 49.5%;
        height: 8.5rem;
        position: relative;
        margin: 1rem 0;
        display: inline-block;
        vertical-align: middle;
    }

    .hamburger--header {
        text-align: left;

        span {
            width: 2.25rem;
            height: 0.5rem;
            position: relative;
            display: block;
            background: $BLACK;

            &:first-child {
                margin-top: 2.5rem;
            }
            &:nth-child(2) {
                margin: 0.3rem 0;
            }
        }
    }
    .container__logo--header {
        @include prefix(width, fit-content);
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 1rem;
        text-align: center;

        img {
            width: 12rem;
        }
    }
    .container__social--header {
        text-align: right;
        a {
            text-decoration: none;
            img {
                width: 3rem;
                margin: 0 0.5rem;
                vertical-align: middle;
            }
        }
    }

    nav {
        display: none;
        position: absolute;
        top: 6.5rem;
        left: 0;
        background: rgba(255, 255, 255, 0.9);

        ul {
            li {
                width: 14rem;
                height: 3.5rem;
                text-align: center;
                a {
                    width: 12.5rem;
                    padding: 0.5rem;
                    font-size: 1.4rem;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $BLACK;
                }

                &:nth-child(2)  {
                    a {
                        border: solid $BLACK;
                        border-width: 0.1rem 0 0.1rem 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 48rem) {
    header {
        height: 17.5rem;

        .hamburger--header {
            span {
                width: 3.2rem;
                height: 0.7rem;
            }
        }

        .container__logo--header {
            img {
                width: 17.8rem;
                margin-top: 3rem;
            }
        }

        .container__social--header {
            margin-top: 3rem;

            a {
                img {
                    width: 3rem;
                    margin: 0 0.25rem;
                }
            }
        }

        nav {
            top: 7.5rem;
        }

    }
}

